body
{
	height:100%;
	text-align:center;
	line-height:30px;
}

#index
{
	background-color:#880E4F;
}

.container, header, footer
{
	width:100%;
}

header, footer
{
	position:fixed;
	z-index:3;
	background-color:#880E4F;
}

header
{
	height:35px;
}

footer
{
	height:50px;
	bottom:0;
}

section
{
	z-index:1;
	padding-top:30px;
}

a
{
	font-family: 'Raleway', cursive;
	color:black;
	font-size:1.2em;
}

header, nav a, footer a
{
	color:#F63392;
}

nav a:hover, footer a:hover, .lienblanc:hover
{
	color:white;
	text-decoration:none;
}

.carousel-inner
{
	height:300px;
}

.carousel-indicators
{
	z-index:2;
	transform: scale(1.15);
	transition: transform 200ms;
}

.carousel-indicators:hover
{
	transform: scale(1.3);
}

.carousel-indicators .active
{
    background-color: #F63392;
}

#index h1, h2, h3
{
	font-family: 'Cabin Sketch', cursive;
	color: white;
}

#page h1, h2, h3
{
	font-family: 'Cabin Sketch', cursive;
	color: black;
}

h1
{
	font-size:4em;
}

h2
{
	font-size:3em;
}

h3
{
	font-size:2em;
}

p, ul
{
	font-family: 'Raleway', sans-serif;
	font-size:1.2em;
	color:black;
}

td 
{
	font-family: 'Raleway', sans-serif;
	vertical-align: top;
	padding: 15px;
	text-align: left;
}

.texte, ul
{
	text-align: justify;
	padding-left:15px;
	padding-right:15px;
}

label
{
	font-weight:bold;
}

.thumbnail
{
	border-color:white;
	margin:10px;;
	width:150px;
	height:150px;
	overflow:hidden;
}

.accueil
{
	margin-top:10%;
}

.pied
{
	padding-top:5px;
	color:#F63392;
	font-size:12px;
	line-height:15px;
}

#contact
{
	height:100%;
}

.bis
{
	margin: auto;
	width:450px;
}

.carousel-caption
{
	color:white;
	font-size:0.8em;
	line-height:15px;
}

.crochet
{
	width:150px;
	margin:5px;
	border:1px solid #dddddd;
}

.legende
{
	font-size:1em;
}

.lien
{
	font-size:1em;
	color: #880E4F;
}